html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.dark-bg {
  background-color: #282c34;
}

.App {
  text-align: center;
  min-height: 100%;
  color: white;
  padding-top: 4.5rem;
  padding-bottom: 2.5rem;
  box-sizing: border-box;
}

.app-footer {
  color: gray;
  margin-top: -30px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-field {
  display: block;
  padding: 0.5rem;
}

/* Music Player */
.music-player-wrapper {
  position: fixed;
  width: 100%;
  top: 64px;
  z-index: 1000;
  box-shadow: 0 0 10px #000;
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.music-player {
  transition: height 0.3s ease-out;
  overflow: hidden;
}

.song-title {
  margin: 0 15px;
  display: inline-block;
  width: 185px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-align: right;
  text-overflow: ellipsis;
  animation: song-title-run infinite 5s linear;
}

.player-buffering-button {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}

#timer-container {
  width: 150px;
  height: 150px;
}

/* Mobile view */
@media (max-width: 600px) {
  .music-player-wrapper {
    top: 54px;
  }
}

@keyframes song-title-run {
  from {
    text-indent: 0;
  }
  to {
    text-indent: -100%;
  }
}
