html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100%;
  color: white;
  padding-top: 4.5rem;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-field {
  display: block;
  padding: 0.5rem;
}

.music-player {
  transition: height 0.3s ease-out;
  overflow: hidden;
}
